.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
}

.newPost {
    margin: 5px 15px;

}

.newPost button {
    width: 100px;
    height: 30px;
}

* {
    font-family: Arial;
    font-weight: 400;
    font-size: medium;
}

