.nav {
    grid-area: n;
    background-color: #748e99;
    padding: 20px;
}

.item a {
    color: black;
    text-decoration: none;
    font-family: Arial;
    font-weight: 400;
    font-size: large;
}

.item a.active {
    color: whitesmoke;
    font-weight: 600;
}